:root {
  --font-sans: "Montserrat", system-ui, -apple-system, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, "Noto Sans";
}
html { font-family: var(--font-sans); }
body, button, input, select, textarea { font: inherit; }

body{
  margin: 0px;
}

.main-contents{
  margin: 0px 70px 0 50px;
}

*, *::before, *::after { box-sizing: border-box; }

/* Mobile */
@media (max-width: 600px) {
  .main-contents { margin: 0 16px !important; }
}