/* Section About qui contient tous les Collaps */
.about-collaps { 
    padding: 0 119px 36px;
    box-sizing: border-box;
    width: 100%;
}
.about-collaps .collaps  { 
    margin-top: 20px; 
}

/* Conteneur d'un item */
.collaps { 
    border-radius: 10px; 
}

/* Header rouge */
.collaps__header {
  width: 100%;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: #ff6060; 
  color: #fff; 
  border: 0; 
  border-radius: 10px;
  padding: 14px 18px;
  font-weight: 700; 
  font-size: 24px;
  font-weight: bold; 
  cursor: pointer;
}

/* Chevron qui pivote */
.collaps-chevron { 
    width:32px; 
    height:32px;
    display: block;
    transform-origin: center; 
    transition: transform .25s ease;
 }


.panel {
  display: grid;                     
  grid-template-rows: 0fr;           
  transition: grid-template-rows .28s ease; 
  margin-top: 0px;
}
.panel.is-open {
  grid-template-rows: 1fr;           
}

/* Le contenu réel du panneau */
.panel__inner {
  overflow: hidden;                   
  background: #f7f7f7;
  border-radius: 10px;
  padding: 0px;
  color: #333; 
  line-height: 1.6; 
  font-size: 16px;
}

.panel-body{
    padding: 20px;
}

.panel-body ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 5px;
  margin: 0;
}

.panel-body li{
  font-size: 18px;
  font-weight: 400;
}