
.Footer {
  background-color: #000;       
  color: #fff;                  
  display: flex;                
  flex-direction: column;       
  justify-content: center;      
  align-items: center;          
  padding: 20px;
  height: 209px;
  margin-top: 50px;                
}

.Footer img {
  width: 120px;   
  margin-bottom: 10px;
}

.Footer p {
  font-size: 14px;
  margin: 0;
}

.mobile-break {
  display: none;
}


@media (max-width: 1024px) {
  
 .mobile-break {
    display: inline;
  }
}



