.lodg {
  --kasa-red: #ff6060;
  --text-muted: #000000;
}

/* ===== En-tête (titre / tags / hôte / rating) ===== */
.lodg__top {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
  align-items: start;
}

.lodg__title {
  font-size: 28px;
  color: var(--kasa-red);
  margin: 0 0 4px;
}

.lodg__location {
  color: var(--text-muted);
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: 500;
}

.lodg__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: var(--kasa-red);
  color: #fff;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 999px;
  font-weight: 600;
}

.lodg__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.rating {
  display: flex;
  gap: 4px;
  font-size: 35px;
}

.rating .on  { color: var(--kasa-red); }
.rating .off { color: #e5e7eb; }

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host__name {
  text-align: right;
  line-height: 1.1;
  font-size: 18px;
  font-weight: 500;
}

.host__avatar {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  object-fit: cover;
}

/* ===== Panneaux (Description / Équipements) ===== */
.lodg__cols {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  font-size: 18px; 
}

.lodg__cols .collaps{
    width: 50%;
}

/* Taille du titre des Collaps sur la page Logement */
.lodg__collapsTitle {
  font-size: 18px;      
  font-weight: 700;
  font-style: bold;     
}


@media (max-width: 1024px) {
  .lodg__cols { 
    grid-template-columns: 1fr 1fr; 
    }
  .lodg__top{
    display: flex;
    flex-direction: column;
  }

  .lodg__title{
    font-size: 18px !important;
  }

  .lodg__cols{
    flex-wrap: wrap;
    
  }
  .lodg__right{
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .tag{
    font-size: 10px;
  }

  .host__avatar{
    width: 32px;
    height: 32px;
  }

  .host__name{
    font-size: 12px;
  }

  .rating{
    font-size: 25px;
  }
  .lodg__collapsTitle{
    font-size: 13px;
  }

  .lodg__cols .collaps{
    width: 100%;
  }
}
